* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;

  background-color: #141414;
  color: #fff;
}

/*! Header Section */
header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid #333333;
  backdrop-filter: blur(10px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 2rem;

  background-color: black;
  padding: 15px;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(131, 126, 126, 0.5);
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;

  transition: all 0.3s;
}

.nav-links a:hover {
  color: white;
  background-color: #444542;
}

.nav-links a.active {
  color: white;
  background-color: #444542;
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.icon-btn {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  color: aliceblue;
  border: none;
  border-radius: 50%;

  font-size: 1.2rem;
  cursor: pointer;

  transition: color 0.3s;
}

.icon-btn:hover {
  color: white;
  background-color: #444542;
}

/*! Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  background-image: url("./images/hero.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: flex-end;
  padding-bottom: 5rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );

  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;

  margin: 0 auto;
  text-align: center;
  padding-top: 0;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero-content p {
  color: #999;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto 2rem;
  line-height: 1.6;
}

.start-watching {
  background-color: #e50000;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
}

.start-watching:hover {
  background-color: #6e0505;
}

/*! Categories Section */
.categories {
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  background-color: #141414;
}

.categories-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.categories-header h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.categories-header p {
  color: #999;
  padding-bottom: 1rem;
}

.categories-navigation {
  position: relative;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #444542;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: #999;
}

.nav-indicator {
  display: flex;
  gap: 0.5rem;
}

.indicator {
  width: 24px;
  height: 4px;
  background-color: #999;
  border-radius: 2px;
}

.indicator.active {
  background-color: #e50000;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.category-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;

  transition: transform 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
}

.movie-poster {
  padding: 30px;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

/*! Support Section */
.devices {
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  background-color: #141414;
}

.device-header {
  margin-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
}

.device-header h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: white;
}

.device-header p {
  color: #999;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

.device-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.device-card {
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), transparent);
  border: 1px solid rgba(255, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2rem;
  cursor: pointer;

  transition: transform 0.3s;
}

.device-card:hover {
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.2), transparent);
  border: 1px solid rgba(255, 0, 0, 0.2);
  transform: translateY(-5px);
}

.device-icon {
  width: 48px;
  height: 48px;
  background-color: #ec2828;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.device-icon i {
  font-size: 1.5rem;
  color: white;
}

.device-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.device-card p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #999;
}

/*! FAQ Section */
.faq {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 3rem;
}

.faq-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.faq-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.faq-text p {
  color: #999;
  font-size: 1rem;
  max-width: 600px;
}

.ask-question {
  background-color: #e50000;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.3s;
}

.ask-question:hover {
  background-color: #6e0505;
}

.faq-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item {
  border: 1px solid #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
}

.faq-question {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #242424;

  transition: background-color 0.3s;
}

.faq-question:hover {
  background-color: #3d3737;
}

.question-number {
  color: #999;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}

.faq-question h3 {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500;
}

.faq-question i {
  color: #999;
}

.faq-question.active i {
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background-color: #242424;

  transition: max-height 0.3s ease-out;
}

.faq-answer p {
  padding: 1.5rem;
  line-height: 1.6;
  color: #999;
}

/*! Subscription Section */
.subscription {
  width: 74%;
  margin: 0 auto;
  padding: 4rem 3rem;
  margin-bottom: 5rem;
}

.subscription-header {
  text-align: center;
  margin-bottom: 3rem;
}

.subscription-header h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: aliceblue;
}

.subscription-header p {
  color: #999;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.plan-btn {
  display: inline-flex;
  background: #242424;
  padding: 8px;
  border-radius: 8px;
  gap: 0.5rem;
}

.toggle-btn {
  background: transparent;
  padding: 0.5rem 1.5rem;
  border: none;
  color: #999;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-btn.active {
  background-color: #e50000;
  color: white;
}

.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.plan-card {
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), transparent);
  border: 1px solid rgba(255, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2rem;
  cursor: pointer;

  transition: transform 0.3s;
}

.plan-card:hover {
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.2), transparent);
  border: 1px solid rgba(255, 0, 0, 0.2);
  transform: translateY(-5px);
}

.plan-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: aliceblue;
}

.plan-content p {
  color: #999;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  min-height: 70px;
}

.price {
  margin-bottom: 2rem;
}

.price .amount {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.period {
  color: #999;
  font-size: 1rem;
}

.plan-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-trial {
  background: none;
  color: white;
  border: 1px solid #242424;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-trial:hover {
  background-color: #454343;
}

.btn-choose {
  background-color: #e50000;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-choose:hover {
  background-color: #6e0505;
}
